$name-size: 20px;
$block-height: 10px;

.contact {
  color: white;
}

.container {
  display: flex;
}

.name {
  font-size: $name-size;
  font-weight: bold;
}

.block {
  background-color: white;
  flex: 1;
  align-self: flex-end;
  margin-bottom: 5px;
  height: $block-height;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.office {
  text-align: center;
}
