@import '../styles/colors';
@import '../styles/variables';

.header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
}

.header > * {
  flex: 1;
}

.links {
  text-align: center;
  text-decoration: none;
  font-size: 8px;
  h1 {
    color: white;
  }

  @media screen and (min-width: 800px) {
    font-size: 12px;
  }
}
