@import '../styles/colors';

.header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
}

.header > * {
  flex: 1;
}

.links {
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  h1 {
    color: white;
  }
}
