.slide {
  width: 500px;
}

.title {
  text-transform: uppercase;
  font-family: grotte-light, serif;
  font-size: 30pt;
  margin: 40px 0;
}

.body {
  font-family: norms-light, serif;
  font-size: 18pt;
  line-height: 1.3;
  margin-bottom: 30px;
}

.highlight {
  font-family: brandon-bold, serif;
}
