@font-face {
  font-family: 'grotte';
  src: url('../fonts/Grotte-Regular.ttf');
}

@font-face {
  font-family: 'grotte-light';
  src: url('../fonts/Grotte-Light.ttf');
}

@font-face {
  font-family: 'norms';
  src: url('../fonts/TTNorms-Regular.otf');
}

@font-face {
  font-family: 'brandon';
  src: url('../fonts/HVD Fonts - BrandonText-Regular.otf');
}
