* {
  box-sizing: content-box;
  color: white;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: 'grotte', serif;
  margin: 0;
}

p {
  font-family: 'norms', serif;
  margin: 0;
}
